LOG_LEVEL="INFO"

IMAGE_BASE_URL="http://minio:9000/sudoku"
CACHE_TTL_HOURS=168

# kafka topics
KAFKA_PUZZLE_TOPIC="sudoku.puzzle.generate"

# kafka
KAFKA_BROKER_HOST="kafka"
KAFKA_BROKER_PORT="9092"

# mongodb
MONGO_HOST="mongodb"
MONGO_PORT="27017"
MONGO_USER="sudoku"
MONGO_PASSWORD="Sudoku123"
MONGO_DB="sudoku"
MONGO_OPTIONS="authSource=admin"
MONGO_COLLECTION_NAME="puzzle"

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# S3 / minio, not used by API, only used by minio for local testing
AWS_ACCESS_KEY_ID="sudoku"
AWS_SECRET_ACCESS_KEY="verySECRET123"
AWS_REGION="ap-southeast-1"
S3_PROTOCOL="http"
S3_HOST="minio"
S3_PORT="9000"
S3_BUCKET_NAME="sudoku"
